<h1>Stupid Coaching</h1>

<h2> What do you want to ask the Coach</h2>
<form action="/answers" data-turbo="false">
  <input type="text" name="question" member="my_question">
  <input type="submit" value="Ask!">
</form>
